@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@500&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
button {
	font-family: 'Open Sans', sans-serif;
}
canvas {
	z-index: 1;
	position: fixed;
}

*:focus {
	outline: none;
}